<!doctype html>
<html lang="en">
    <head>
        <title>Food Recognizer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <style></style>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <div class="ui vertical center segment" style="height:100vh;">
            <div class="ui stackable container menu" style="min-height: 61px;">
                <a class='item {% if request.path == "/" %}active{% endif %}' href="/"><img class="ui mini rounded image" src="/static/img/icon.png"></a>
                <a class='item {% if request.path == "/docs" %}active{% endif %}' href="/docs">Docs</a>
                <a class='item {% if request.path == "/demo" %}active{% endif %}' href="/demo">Demo</a>
                <div class="right menu">
                {% if session['user'] %}
                    {{ session['user'].username }}
                    <a class="ui item" href="/signout">Sign Out</a>
                {% else %}
                    <a class="ui item" onclick="$('#modal_signin').modal('show')">Sign in</a>
                {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block modal %}{% endblock %}
        <script src="/static/js/bundle.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
