<!doctype html>
<html lang="en">
    <head>
        <title>Food Recognizer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <style></style>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <input id="server_endpoint" type="hidden" value="{{ server_endpoint }}">
        <div class="ui vertical center segment" style="min-height:90vh;">
            <div class="ui stackable container menu" style="min-height: 61px;">
                <a class='item {% if request.path == "/" %}active{% endif %}' href="/"><img class="ui mini rounded image" src="/static/img/icon.png"></a>
                <a class='item {% if request.path == "/docs" %}active{% endif %}' href="/docs">Docs</a>
                <a class='item {% if request.path == "/demo" %}active{% endif %}' href="/demo">Demo</a>
                {% if session['user'] %}
                <a class='item {% if request.path == "/apikey" %}active{% endif %}' href="/apikey">API Key</a>
                {% if session['user'].role == 'admin' %}
                <a class='item {% if request.path == "/user/manage" %}active{% endif %}' href="/user/manage">Manage User</a>
                {% endif %}
                {% endif %}
                <div class="right menu">
                {% if session['user'] %}
                    <a class="ui item">welcome, {{ session['user'].username }}</a>
                    <a class="ui item" onclick="signout()">Sign Out</a>
                {% else %}
                    <a class="ui item" onclick="$('#modal_signin').modal('show')">Sign in</a>
                {% endif %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>

        <!-- Modal -->
        <div class="ui tiny modal container" id="modal_signin">
            <div class="header">Sign in</div>
            <div class="ui segment" style="border-top: 0;margin-top: 0;">
                <div class="ui two column very relaxed stackable grid">
                    <div class="column">
        
                        <div id="signin_form" class="ui form">
        
                            <div class="field">
                                <label>Username</label>
                                <div class="ui left icon input">
                                    <input type="text" name="username" placeholder="Username">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <input type="password" name="password" placeholder="Password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <div class="ui blue submit button fluid" onclick="signin()">Sign in</div>
        
                        </div>
        
                        <div id="signin_fail" class="ui negative message" style="display:none;">
                            <i class="close icon"></i>
                            <div class="header">Signin fail</div>
                            <p id="signin_message"></p>
                        </div>
                    </div>
                    <div class="middle aligned column">
                        <div class="ui button fluid" onclick="$('#modal_signup').modal('show')">
                            <i class="signup icon"></i>
                            Sign Up
                        </div>
                    </div>
                </div>
                <div class="ui vertical divider">
                    Or
                </div>
            </div>
        </div>
        
        <div class="ui mini modal container" id="modal_signup">
            <div class="header">Sign up</div>
            <div class="content">
                <div id="signup_form" class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" name="username" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="password" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Confirm Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="repassword" placeholder="Confirm Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui button primary fluid" onclick="signup()">Sign up</button>
                    </div>
                    <div id="signup_success" class="ui positive message" style="display:none;">
                        <i class="close icon"></i>
                        <div class="header">Signup success</div>
                        <p>You may now log-in with the username you have chosen.</p>
                    </div>
                    <div id="signup_fail" class="ui negative message" style="display:none;">
                        <i class="close icon"></i>
                        <div class="header">Signup fail</div>
                        <p id="signup_message"></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/bundle.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
