{% extends "base.html" %}

{% block stylesheet %}
<style>
	.ui.action.input input[type="file"] {
		display: none;
	}
	.preview-box {
		overflow: scroll;
		max-height: 500px;
	}
</style>
{% endblock %}

{% block body %}
<div class="ui stackable one column vertically divided grid container">
	<div class="column">
		<div class="ui styled fluid accordion">
			<div class="title active"><i class="dropdown icon"></i>Bounding Box</div>
			<div class="content active">
				<div class="ui action input">
					<input type="text" placeholder="Select Image" readonly>
					<input id="image" type="file" accept="image/*">
					<div class="ui icon button">
						<i class="icon image"></i>
					</div>
				</div>
				<button class="ui primary button" onclick="get_bbox()" id="btn1">Detect</button>
				<p>supported classes (demo): chicken wings, french fries, hamburger, hot dog, pizza</p>
				<h5>Image:</h5>
				<canvas id="canvas"></canvas>
				<h5>JSON:</h5>
				<pre id="response_bbox" class="preview-box"></pre>
			</div>
			<div class="title"><i class="dropdown icon"></i>Recipes</div>
			<div class="content" id="search_recipes_form">
				<div class="ui input focus">
					<input type="text" name="foodkeyword" placeholder="Food Keyword">
				</div>
				<button class="ui primary button" onclick="search_recipes()" id="btn2">Search</button>
				<button class="ui button" onclick="$('#response_recipes').html('')">Clear</button>
				<h5>JSON:</h5>
				<pre id="response_recipes" class="preview-box"></pre>
			</div>
			<div class="title"><i class="dropdown icon"></i>Restaurant List</div>
			<div class="content" id="search_restaurants_list_form">
				<div class="ui input focus"><input name="foodkeyword" type="text" placeholder="Food Keyword"></div>
				<div class="ui input focus"><input name="latlong" type="text" placeholder="Latitude,Longitude"></div>
				<div class="ui input focus"><input name="radius" type="text" placeholder="radius(1000 meters)"></div>
				<button class="ui primary button" onclick="search_restaurants_list()" id="btn3">Search</button>
				<button class="ui button" onclick="$('#response_restaurants_list').html('')">Clear</button>
				<h5>JSON:</h5>
				<pre id="response_restaurants_list" class="preview-box"></pre>
			</div>
			<div class="title"><i class="dropdown icon"></i>Restaurant Details</div>
			<div class="content" id="search_restaurants_details_form">
				<div class="ui input focus"><input name="place_id" type="text" placeholder="place id"></div>
				<button class="ui primary button" onclick="search_restaurants_details()" id="btn4">Search</button>
				<button class="ui button" onclick="$('#response_restaurants_details').html('')">Clear</button>
				<p>example place_id: ChIJv3gz8FAABDQR9wNAjYOeZb8</p>
				<h5>JSON:</h5>
				<pre id="response_restaurants_details" class="preview-box"></pre>
			</div>
	  	</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.ui.accordion').accordion();
	});


	$("input:text").click(function () {
		$(this).parent().find("input:file").click();
	});

	$('input:file', '.ui.action.input').on('change', function (e) {
		var name = e.target.files[0].name;
		$('input:text', $(e.target).parent()).val(name);
	});

	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');

	var image = document.getElementById('image');
	var img = new Image();
	img.onload = function () {
		canvas.width = img.width;
		canvas.height = img.height;
		ctx.drawImage(img, 0, 0, img.width, img.height);
		rect = canvas.getBoundingClientRect();
	}
	image.addEventListener("change", function (event) {
		let file = event.target.files[0];
		if (file.type.match('image.*')) {
			let reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function (event) {
				if (event.target.readyState == FileReader.DONE) {
					img.src = event.target.result;
					hasImg = true;
				}
			}
		} else {
			alert("not an image");
		}
	});
	function drawPrediction(predictions) {
		for (var i = 0; i < predictions.length; i++) {
			var pred = predictions[i];
			var label = pred.label;
			var prob = parseFloat(pred.prob).toFixed(2);
			ctx.beginPath();
			ctx.lineWidth = 2;
			ctx.strokeStyle = "#00ff00";
			ctx.fillStyle = "#ffff00"
			ctx.font = "14px Arial";
			ctx.moveTo(pred.x1, pred.y1);
			ctx.lineTo(pred.x2, pred.y1);
			ctx.lineTo(pred.x2, pred.y2);
			ctx.lineTo(pred.x1, pred.y2);
			ctx.lineTo(pred.x1, pred.y1);
			ctx.stroke();
			ctx.fillText(label + "(" + prob + ")", pred.x1 + 4, pred.y1 + 12);
		}
	}
	function get_bbox() {
		$('#btn1').toggleClass('loading');
		var formData = new FormData();
		formData.append('image', image.files[0]);
		formData.append('apikey','a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1');
		fetch($('#server_endpoint').val() + '/darknet/detect', {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(function (response) {
			console.log(response);
			drawPrediction(response);
			$('#response_bbox').html(JSON.stringify(response, undefined, 4));
			$('#btn1').toggleClass('loading');
		})
	}

	function search_recipes(){
		$('#btn2').toggleClass('loading');
		var url = new URL($('#server_endpoint').val()+'/recipes/search');
		url.searchParams.append('foodkeyword', $('#search_recipes_form').find('input[name="foodkeyword"]').val());
		url.searchParams.append('apikey','a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1');
		fetch(url, { method: 'GET'})
		.then(response => response.json())
		.then(response => {
			$('#response_recipes').html(JSON.stringify(response, undefined, 4));
			$('#btn2').toggleClass('loading');
		})
	}

	function search_restaurants_list(){
		$('#btn3').toggleClass('loading');
		navigator.geolocation.getCurrentPosition(function(position) {

			$('#search_restaurants_list_form').find('input[name="latlong"]').val(position.coords.latitude+","+position.coords.longitude);

			var url = new URL($('#server_endpoint').val()+'/place/search');
			url.searchParams.append('foodkeyword',$('#search_restaurants_list_form').find('input[name="foodkeyword"]').val());
			url.searchParams.append('latlng',$('#search_restaurants_list_form').find('input[name="latlong"]').val());
			url.searchParams.append('radius',$('#search_restaurants_list_form').find('input[name="radius"]').val());
			url.searchParams.append('apikey','a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1');
			fetch(url, {method: 'GET' })
			.then(response => response.json())
			.then(response => {
				$('#response_restaurants_list').html(JSON.stringify(response, undefined, 4));
				$('#btn3').toggleClass('loading');
			});

		});
		
		
	}

	function search_restaurants_details(){
		$('#btn4').toggleClass('loading');
		var url = new URL($('#server_endpoint').val()+'/place/details');
		url.searchParams.append('place_id',$('#search_restaurants_details_form').find('input[name="place_id"]').val());
		url.searchParams.append('apikey','a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1');
		fetch(url, { method: 'GET' })
		.then(response => response.json())
		.then(response => {
			$('#response_restaurants_details').html(JSON.stringify(response, undefined, 4))
			$('#btn4').toggleClass('loading');
		})
	}
</script>
{% endblock %}
