{% extends "base.html" %}

{% block stylesheet %}
<style>
	.preview-box {
		overflow: scroll;
		max-height: 500px;
	}
</style>
{% endblock %}

{% block body %}
<div class="ui stackable one column vertically divided grid container">
    <div class="column">
		<div class="ui segment">
            <h1>Introduction</h1>
            RESTful Food image recognition service based on YOLOv4.
            <h1>API</h1>
            <table class="ui celled table">
                <thead>
                    <tr>
                      <th>Request Method</th>
                      <th>Path</th>
                      <th>Description</th>
                      <th>Query Params</th>
                      <th>Query String</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>POST</td>
                        <td>/darknet/detect</td>
                        <td>get bounding box detection from uploaded image</td>
                        <td>
                            <table class="ui celled table">
                                <thead>
                                    <tr><th>Key</th><th>Type</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>image</td><td>file(image/*)</td></tr>
                                    <tr><td>apikey</td><td>String</td></tr>
                                </tbody>
                            </table>
                        </td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/recipes/search</td>
                        <td>search list of recipes by food keyword.</td>
                        <td></td>
                        <td>
                            <table class="ui celled table">
                                <thead>
                                    <tr><th>Key</th><th>Type</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>foodkeyword</td><td>String</td></tr>
                                    <tr><td>apikey</td><td>String</td></tr>
                                </tbody>
                            </table>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/place/search</td>
                        <td>search list of restaurants by food keyword, result can be filtered by latlong and radius.</td>
                        <td></td>
                        <td>
                            <table class="ui celled table">
                                <thead>
                                    <tr><th>Key</th><th>Type</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>foodkeyword</td><td>String</td></tr>
                                    <tr><td>latlng</td><td>String</td></tr>
                                    <tr><td>radius</td><td>Integer</td></tr>
                                    <tr><td>apikey</td><td>String</td></tr>
                                </tbody>
                            </table>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/place/details</td>
                        <td>get more details of the restaurant by place_id (included in the restaurant list.</td>
                        <td></td>
                        <td>
                            <table class="ui celled table">
                                <thead>
                                    <tr><th>Key</th><th>Type</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>place_id</td><td>String</td></tr>
                                    <tr><td>apikey</td><td>String</td></tr>
                                </tbody>
                            </table>
                        </td>
                        
                    </tr>
                </tbody>
            </table>

            <p>Postman: <a href="https://documenter.getpostman.com/view/7105100/T17GfoEk?version=latest">https://documenter.getpostman.com/view/7105100/T17GfoEk?version=latest</a></p>

            <h1>Quick Start</h1>
            <ol class="ui list">
                <li>Sign in. Click "Sign in" in the menu bar, click "Sign up" to sign up if you don't have account.</li>
                <li>Create API Key, click "API Key" in the menu bar, then click "Create API Key".</li>
                <li>Use API Key to request the API.</li>
            </ol> 
              
            <h3>Example</h3>
            <div class="ui styled fluid accordion">
                <div class="title active"><i class="dropdown icon"></i>Bounding Box</div>
                <div class="content active">
<pre class="preview-box">
curl --location --request POST 'https://api.achronaz.com/darknet/detect' \
     --form 'image=@/C:/path/to/file.jpg' \
     --form 'apikey=a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1'
</pre>
                </div>
                <div class="title"><i class="dropdown icon"></i>Recipes</div>
                <div class="content">
<pre class="preview-box">
curl --location --request GET 'https://api.achronaz.com/recipes/search?foodkeyword=burger&apikey=a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1'
</pre>
                </div>
                <div class="title"><i class="dropdown icon"></i>Restaurant List</div>
                <div class="content">
<pre class="preview-box">
curl --location --request GET 'https://api.achronaz.com/place/search?foodkeyword=burger&lntlng=22.344499199999998,114.1604352&radius=1000&apikey=a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1'
</pre>
                </div>
                <div class="title"><i class="dropdown icon"></i>Restaurant Details</div>
                <div class="content">
<pre class="preview-box">
curl --location --request GET 'https://api.achronaz.com/place/details?place_id=ChIJv3gz8FAABDQR9wNAjYOeZb8&apikey=a3f123bd30469f6d6caa8cf1488a237156636e746eddef54b11906d690ddc7a1'
</pre>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function(){
	$('.ui.accordion').accordion();
});
</script>
{% endblock %}