{% extends "base.html" %}

{% block javascript %}
<script></script>
{% endblock %}

{% block stylesheet %}
<style></style>
{% endblock %}

{% block body %}
<div class="ui stackable one column vertically divided grid container">
    <div class="column">
		<div class="ui segment">
            <h1>Introduction</h1>
            
            <h1>API</h1>
            <table class="ui celled table">
                <thead>
                    <tr>
                      <th>Request Method</th>
                      <th>Path</th>
                      <th>Queriy String/Multi-Part Body</th>
                      <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>POST</td>
                        <td>/darknet/detect</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/recipes/search</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/place/search</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/place/details</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h1>Quick Start</h1>

            <h3>Sign Up</h3>

            <h3>Create API Key</h3>

            <h3>Usage</h3>

            
        </div>
    </div>
</div>
{% endblock %}