{% extends "base.html" %}

{% block javascript %}
<script></script>
{% endblock %}

{% block stylesheet %}
<style></style>
{% endblock %}

{% block body %}
<div class="ui container text" style="margin-top: 150px; margin-bottom: 150px;">
    <h1 class="ui header">Food Recognition API</h1>
    <h4 class="ui header">
        Food image recognition with YOLOv4.<br>
        Let's apply it to your products.</h4>
    <div class="inline">
        <div class="ui primary button" onclick="window.location.href = '/docs'">Get Started</div>
        <div class="ui button" onclick="window.location.href = '/demo'">Demonstration</div>
    </div>
</div>
{% endblock %}